<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrowserScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <BrowserScreenSaver.Properties.Settings>
            <setting name="Uri1" serializeAs="String">
                <value />
            </setting>
            <setting name="Uri2" serializeAs="String">
                <value />
            </setting>
            <setting name="Uri3" serializeAs="String">
                <value />
            </setting>
            <setting name="Uri4" serializeAs="String">
                <value />
            </setting>
            <setting name="Scale1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale1Maximized" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale2Maximized" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale3Maximized" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scale4Maximized" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RefreshFreq1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RefreshFreq2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RefreshFreq3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RefreshFreq4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OnResumeDisplayLogon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorizontalSplitter" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TopVerticalSplitter" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BottomVerticalSplitter" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NavigationEnabledByUtc" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="AllowPopups" serializeAs="String">
                <value>False</value>
            </setting>
        </BrowserScreenSaver.Properties.Settings>
    </userSettings>
</configuration>
